
<h2>Projects</h2>

<h3>Dev Website</h3>
<p>AngularJS, HTML, CSS</p>
<ul>
  <li>My personal website</li>
  <li>Hosted via Google Firebase</li>
  <li>mlewicki.me</li>
  <li>Github repository</li>
</ul>

<h3>Philth Peace Phest Schedule</h3>
<p>AngularJS, HTML, CSS</p>
<ul>
  <li>Interactive schedule app for an online fest organised by a zine I help run</li>
  <li>Features dynamic set times based on user's timezone</li>
  <li>Hosted via Google Firebase</li>
  <li>mlewicki.me</li>
</ul>

<h3>Chillwavve Records Servers Hacking ARG</h3>
<p>AngularJS, HTML, CSS</p>
<ul>
  <li>Hacking ARG for my friend's record label</li>
  <li>Designed and developed in cooperation with Chillwavve records</li>
  <li>Hosted via Google Firebase</li>
  <li>servers.mlewicki.me</li>
  <li>Github repository</li>
</ul>

<h3>Times Tables Quiz</h3>
<p>AngularJS, Google Firestore, Auth0, HTML, CSS</p>
<ul>
  <li>Times tables quiz app for my mum's elementary school classes</li>
  <li>Skeleton account system ran by Auth0</li>
  <li>Students use link with quiz id to submit their results</li>
  <li>Information stored in Google Firestore</li>
  <li>Hosted via Google Firebase</li>
  <li>quizlet.mlewicki.me</li>
  <li>Github repository</li>
</ul>