
<h2>Hobbies</h2>

<section>
  <h3>Paper Boats</h3>
  <p>Label owner</p>
  <ul>
    <li>Release music on cassette tapes</li>
    <li>Write short music reviews</li>
    <li><a target="_blank" href="http://www.paper.boats/store">Website</a></li>
  </ul>
</section>

<section>
  <h3>Philth Zine</h3>
  <p>Writer / organiser</p>
  <ul>
    <li>Write music reviews</li>
    <li>Helped put together and host a <a target="_blank" href="https://www.youtube.com/watch?v=gUjHMv9Sapc">livestream fest</a> grossing over $300 for charity</li>
    <li><a target="_blank" href="https://philthzine.com">Website</a></li>
  </ul>
</section>

<section>
  <h3>Flammable Music for Flammable People Compilation</h3>
  <p>Organiser</p>
  <ul>
    <li>Reached out to bands and collected 12 alternate recordings of their songs</li>
    <li>Released digitally and on tapes via Fire Hazard Records</li>
    <li>100% profits donated to <a href="http://reclaimphiladelphia.org/">Reclaim Philadelphia</a></li>
    <li><a href="https://firehazardrecords.bandcamp.com/album/flammable-music-for-flammable-people-vol-1">Bandcamp</a></li>
  </ul>
</section>