
<h2>Hobbies</h2>

<section>
  <h3>Philth Zine</h3>
  <p>Writer / organiser</p>
  <ul>
    <li>Write music reviews</li>
    <li>Helped put together a livestream fest</li>
    <li><a target="_blank" href="https://philthzine.com">Website</a></li>
  </ul>
</section>

<section>
  <h3>Flammable Music for Flammable People Compilation</h3>
  <p>Organiser</p>
  <ul>
    <li>Reached out to bands and collected 12 alternate recordings of their songs</li>
    <li>Released digitally and on tapes via Fire Hazard Records</li>
    <li>100% profits donated to <a href="http://reclaimphiladelphia.org/">Reclaim Philadelphia</a></li>
    <li><a href="https://firehazardrecords.bandcamp.com/album/flammable-music-for-flammable-people-vol-1">Bandcamp</a></li>
  </ul>
</section>

<section>
  <h3>Big Coaching Decisions</h3>
  <p>Musician</p>
  <ul>
    <li>Occassionally put out original music and covers</li>
    <li>Fully self-recorded and self-produced</li>
    <li><a href="https://bcdphl.bandcamp.com/">Bandcamp</a></li>
    <li>Featured on:</li>
    <ul>
      <li><a href="https://defaultfriends.bandcamp.com/album/never-hungover-again-again">Never Hungover Again (Again!)</a></li>
      <li><a href="https://knifepunchrecords.bandcamp.com/album/gen-1-starter-comp-teacher-charity-comp">Gen 1 Starter Comp</a></li>
      <li><a href="https://toothcemetery.bandcamp.com/album/bangers-for-bingus">Bangers for Bingus</a></li>
    </ul>
  </ul>
</section>