
<h2>Education</h2>

<section>
  <h3>Drexel University (2017-2020)</h3>
  <p>Philadelphia, PA</p>
  <p>BS in Computer Science</p>
  <p>3.53 GPA</p>
  <p>Withdrew in Sept. 2020 due to financial circumstances and coronavirus pandemic</p>

  <p>Applicable Coursework</p>
  <ul>
    <li>Data Structures</li>
    <li>Advanced Programming Tools and Techniques</li>
    <li>Mathematical Foundations of Computer Science</li>
    <li>Systems Architecture</li>
    <li>Systems Programming</li>
    <li>Web and Mobile App Development</li>
  </ul>
</section>