
<h2>Experience</h2>

<section>
  <h3>Documati</h3>
  <p>Full Stack Developer</p>
  <p>Warsaw, Poland</p>
  <p>March 2021 - present</p>
  <ul>
    <li>Develop a React front-end for image generation</li>
    <li>Modify C# backend and REST API to better interact with front-end</li>
    <li>Create a Chrome extension to record user inputs</li>
  </ul>
</section>

<section>
  <h3>SmartStream Technologies</h3>
  <p>Full Stack Developer</p>
  <p>Philadelphia, PA</p>
  <p>Sept. 2018 - April 2019 / Sept. 2019 - April 2020</p>
  <ul>
    <li>Worked alongside experienced developers to improve C# backend and REST API</li>
    <li>Developed and styled a web interface using React and RxJS to work with existing C# backend</li>
    <li>Participated in meetings to plan out and estimate time to implement features</li>
  </ul>
</section>

<section>
  <h3>Drexel University</h3>
  <p>Course Assistant</p>
  <p>Philadelphia, Pa</p>
  <p>Nov. 2018 - Sept. 2020</p>
  <ul>
    <li>Tutored and assisted students in weekly office and lab hours</li>
    <li>Helped students develop freshman design projects</li>
    <li>Graded labs and quizzes for Data Structures course</li>
  </ul>
</section>

<section>
  <h3>Pennsylvania Training and Technical Assistance Network (PaTTAN)</h3>
  <p>Bootcamp Teaching Assistant</p>
  <p>Harrisburg, PA</p>
  <p>June 2019</p>
  <ul>
    <li>Assisted in running a week long boot camp aimed at preparing 30 high school educators to take the Computer Science Praxis exam</li>
    <li>Helped teach the following topics and how to present them in a middle and high school settings</li>
      <ul>
        <li>Java programming</li>
        <li>Networking</li>
        <li>Cyber security</li>
        <li>Graph theory</li>
      </ul>
  </ul>
</section>